"/Daily Notes/"
"/Daily Notes/*"

"/Personal Ideas/"
"/Personal Ideas/*"

"/Templates/"
"/Templates/*"

"/.obsidian/"
"/.obsidian/*"

"Excalidraw/"
"Excalidraw/*"

.obsidian/
Attachments/*.excalidraw
Daily Notes/
Excalidraw/
Personal Ideas/
Templates/
Personal Projects/
Categories/
Inbox/
Resources/
