"/Daily Notes/"
"/Daily Notes/*"

"/Personal Ideas/"
"/Personal Ideas/*"

"/Templates/"
"/Templates/*"

"/.obsidian/"
"/.obsidian/*"

"/Attachments/"
"/Attachments/*"

"Excalidraw/"
"Excalidraw/*"

.obsidian/
Attachments/
Daily Notes/
Excalidraw/
Personal Ideas/
Templates/